body {
  background-color: var(--back1);
  background-image: var(--bgimg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--txt3);
  font-weight: 400;
  font-size: var(--fs-body) !important;
  font-family: var(--font2);
  margin-top: 0 !important;
  transition: var(--trs1);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

postbody {
  display: block;
  min-height: 400px;
  border-left: var(--border1);
  border-right: var(--border1);
  border-bottom: var(--border1);
  background: var(--tback1);
  box-sizing: border-box;
  padding: 120px;
  max-width: 1800px;
  margin: 100px auto;
}

/*colores grupos*/
:root {
  --staff: #5c9cb8 !important; --tstaff: #5c9cb899 !important; 
  --nemesis: #cb7a7a !important; --tnemesis: #cb7a7a99 !important; 
  --tyche: #c9819f !important; --ttyche: #c9819f99 !important; 
  --afrodita: #cc6bc5 !important; --tafrodita: #cc6bc599 !important; 
  --dioniso: #946dbe !important; --tdioniso: #946dbe99 !important; 
  --hades: #675975 !important; --thades: #67597599 !important; 
  --hecate: #7B74C5 !important; --thecate: #7B74C599 !important; 
  --poseidon: #778cdb !important; --tposeidon: #778cdb99 !important; 
  --hypnos: #5f848a !important; --thypnos: #5f848a99 !important; 
  --khione: #5bb3af !important; --tkhione: #5bb3af99 !important; 
  --hebe: #5dab8e !important; --thebe: #5dab8e99 !important; 
  --atenea: #61a879 !important; --tatenea: #61a87999 !important; 
  --demeter: #5eb165 !important; --tdemeter: #5eb16599 !important; 
  --iris: #8abe60 !important; --tiris: #8abe6099 !important; 
  --hermes: #bac760 !important; --thermes: #bac76099 !important; 
  --apolo: #dfb560 !important; --tapolo: #dfb56099 !important; 
  --zeus: #d6874f !important; --tzeus: #d6874f99 !important; 
  --hefesto: #d07655 !important; --thefesto: #d0765599 !important; 
  --ares: #b34646 !important; --tares: #b3464699 !important; 
  --inactivos: #7a7a7a !important; --tinactivos: #7a7a7a99 !important; 
  --usuarios: #b4bec1 !important; --tusuarios: #b4bec199 !important;
}

:root {  
  --accent: #5c9db8;
  --taccent: #5c9db899;
  --back1: #0a0a0a;
  --back2: #111;   
  --tback1: #0a0a0abf;
  --tback2: #111111bf;
  --border1-c: #191919;
  --border2-c: #2c2c2c;
  --tborder-c: #ffffff33;
  --border1: 1px solid var(--border1-c);
  --border2: 1px solid var(--border2-c);
  --aborder: 1px solid var(--accent);
  --tborder: 1px solid var(--tborder-c);
  --bborder1: 2px solid var(--border1-c);
  --bborder2: 2px solid var(--border2-c);
  --baborder: 2px solid var(--accent);
  --bradius: 6px;
  --bgimg: url(https://i.imgur.com/ZpgXLRJ.jpg);
  --hdimg: url(https://i.imgur.com/56FCYVU.jpg);
  --pngimg-1: url(https://i.imgur.com/jVeBHZy.png);
  --pngimg-2: url(https://i.imgur.com/S9yLBs8.png);
  --pngimg-3: url(https://i.imgur.com/LV94aRa.png);
  --txt1: #fff;
  --txt2: #eee;
  --txt3: #ccc;
  --txt4: #aaa;
  --font1: 'Playfair Display', serif;
  --font2: 'Source Sans 3', sans-serif;
  --font3: 'Azeret Mono', monospace;
  --font4: 'Font Awesome 6 Pro';
  --fs-bigger: 1.17rem;
  --fs-big: 1.03rem;
  --fs-body: .9rem;
  --fs-text: .83rem;
  --fs-small: .7rem;
  --fs-smaller: .63rem;
  --fs-smallest: .57rem;
  --fs-title: 5.3rem;
  --fs-display: 3.7rem;
  --fs-h1: 3.17rem;
  --fs-h2: 2.37rem;
  --fs-h3: 1.83rem;
  --fs-h4: 1.57rem;
  --fs-h5: 1.3rem;
  --crs1: crosshair;
  --crs2: pointer;
  --trs1: .4s;
  --trs2: .7s;
  --filter1: grayscale(1);
  --filter2: grayscale(1) brightness(0.5);
  --shadow1: 1px 1px 1px var(--tback1);
  --shadow2: 1px 1px 1px var(--accent);
  --shadow3: 1px 1px 1px var(--group);
  --shadow4: 2px 1px 1px var(--accent);
}
